<!DOCTYPE html>
<html>
	<head>
		<title>Features</title>
		<link href="../featuresFrontEnd.css" rel="stylesheet" type="text/css">
		<script src ="../jquery-1.11.1.min.js"> </script>
	</head>

	<body>
		<div id ="header">
		<p></p>
			<p>Features</p>
		</div>
		<div class="content">
			<div class="features">
				<div class="firstCol">
					<p>Title</p>
				</div>
				<div class="secCol">

					<p>External</p>
				</div>
			</div>			
		</div> <!-- ends content div -->
		<div class="create">
			<form>
				<p>Please type a name of a feature and click Add:</p>
				<input class="inputfield" type="featureName" name ="featureName" />
				<p> External: </p>
				<input class="inputfield1" type="externalLink" name ="externalLink" />
				<button class="add" name="add" type="button">Add</button> 
			</form>
		</div>
		<script type="text/javascript">
			
			$( document ).ready(function() {
    			console.log( "ready!" );
    			getAllFeatures();
			}); // ends ready

			function populateContentDiv (data) {
				$.each(data, function(index, val) {
					ID = data[index]['_id'];
					argument = data[index]['_id'];
					console.log(ID);
					$('.content').append("<div class = 'features', id =" + data[index]['_id'] + "><div class = 'title'><br>" + data[index]['title'] + "<br></div><div class = 'external'><br><a href='"+ data[index]['external'] + "'>" + data[index]['external'] + "</a><button class = 'delete', onclick = "+"DeleteDomElement('"+argument+"')>Remove</button><br></div></div>");
				}); // ends each
			}; // ends function

			function getAllFeatures () {
				$.ajax({
					type: 'GET',
					url: 'http://infinite-citadel-8572.herokuapp.com/api/0.1/features/',
					success: function(data) {
						console.log("Getting all the features");
						populateContentDiv(data);
					} // ends success
				}); // ends ajax
			}; // ends function

			function deleteFromDatabase (featureToDelete) {
				$.ajax({
			 		type: 'DELETE',
			 		url: 'http://infinite-citadel-8572.herokuapp.com/api/0.1/features/'+featureToDelete,
			 		success: function(data) {
			 			console.log("has been deleted!");
			 		}
			 	});
			};

			function DeleteDomElement (idToDelete) {
			 	console.log(idToDelete);
			 	$("#"+idToDelete).remove();
			 	deleteFromDatabase(idToDelete);

			}; // ends function

			function createFeature (toBeCreated, externalToBeCreated) {
				$.ajax({
					type: 'POST',
					url: 'http://infinite-citadel-8572.herokuapp.com/api/0.1/features/?title='+toBeCreated+'&external='+externalToBeCreated,
					success: function(data) {
						console.log("Created Feature");
						//var index = data.length-1;
						console.log(data);
						argument = data['_id'];
						$('.content').append("<div class = 'features', id =" + data['_id'] + "><div class = 'title'><br>" + data['title'] + "<br></div><div class = 'external'><br><a href='"+ data['external'] + "'>" + data['external'] + "</a><button class = 'delete', onclick = "+"DeleteDomElement('"+argument+"')>Remove</button><br></div></div>");
					}
				})
			}

			$('.add').click(function(){
				var x = $('.inputfield').val();
				if (x === "") {
					x = "No Title Given!"
				};
				var y = $('.inputfield1').val();
				if (y === "") {
					y = "N/A"
				};
				createFeature(x, y);
			});

		</script>

	</body>
</html>
